<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.imooc.oa.inputmateriel.dao.InputMaterielDaoMapper">
    <insert id="newInputMateriel" useGeneratedKeys="true" keyProperty="input_materiel_id"
            keyColumn="input_materiel_id"  parameterType="com.imooc.oa.inputmateriel.entity.InputMateriel">
        INSERT INTO
        inputmateriel(product_name,manufacturer,serial_number,shelf_life,unit,product_price,quantity,material_receiving_warehouse,
        management_personne,materiel_code,remarks,general_category,small_class,encapsulation,input_materiel_coding_prefix,storage_data,
        coding_rules,seller,batch_number,pn,ds,temperature,materiel_description,rohs,materiel_state,
        total_amount,deliverer,input_person,order_number,first_custom,second_custom,third_custom,fourth_custom,
         fifth_custom,sixth_custom,seventh_custom,eighth_custom,ninth_custom,tenth_custom)
        VALUES
        (#{productName}, #{manufacturer},#{serialNumber},#{shelfLife},#{unit}, #{productPrice},
        #{quantity},#{materialReceivingWarehouse}, #{managementPersonne},#{materielCode},
        #{remarks},#{generalCategory},#{smallClass},#{encapsulation},#{materielCodingPrefix},#{storageData},
        #{codingRules},#{seller},#{batchNumber},#{pn},#{ds},#{temperature},#{materielDescription},#{rohs},#{materielState}
        ,#{productPrice}* #{quantity},#{deliverer},#{inputPerson},#{orderNumber},#{firstCustom},#{secondCustom},#{thirdCustom},#{fourthCustom},#{fifthCustom}
        ,#{sixthCustom},#{seventhCustom},#{eighthCustom},#{ninthCustom},#{tenthCustom})

    </insert>
    <update id="updateInputMateriel" parameterType="com.imooc.oa.inputmateriel.entity.InputMateriel">
        update inputmateriel
        <set>
            <if test="productName!=null">product_name=#{productName},</if>
            <if test="manufacturer!=null">manufacturer=#{manufacturer},</if>
            <if test="serialNumber!=null">serial_number=#{serialNumber},</if>
            <if test="shelfLife!=null">shelf_life=#{shelfLife},</if>
            <if test="productPrice!=null">product_price=#{productPrice},</if>
            <if test="quantity!=null">quantity=#{quantity},</if>
            <if test="materialReceivingWarehouse!=null">material_receiving_warehouse=#{materialReceivingWarehouse},</if>
            <if test="managementPersonne!=null">management_personne=#{managementPersonne},</if>
            <if test="materielCode!=null">materiel_code=#{materielCode},</if>
            <if test="remarks!=null">remarks=#{remarks},</if>
            <if test="generalCategory!=null">general_category=#{generalCategory},</if>
            <if test="smallClass!=null">small_class=#{smallClass},</if>
            <if test="encapsulation!=null">encapsulation=#{encapsulation},</if>
            <if test="inputMaterielCodingPrefix!=null">input_materiel_coding_prefix=#{inputMaterielCodingPrefix},</if>
            <if test="storageData!=null">storage_data=#{storageData},</if>
            <if test="codingRules!=null">coding_rules=#{codingRules},</if>
            <if test="seller!=null">seller=#{seller},</if>
            <if test="batchNumber!=null">batch_number=#{batchNumber},</if>
            <if test="pn!=null">pn=#{pn},</if>
            <if test="ds!=null">ds=#{ds},</if>
            <if test="temperature!=null">temperature=#{temperature},</if>
            <if test="materielDescription!=null">materiel_description=#{materielDescription},</if>
            <if test="rohs!=null">rohs=#{rohs},</if>
            <if test="materielState!=null">materiel_state=#{materielState},</if>
            <if test="totalAmount!=null">total_amount=#{totalAmount},</if>
            <if test="deliverer!=null">deliverer=#{deliverer},</if>
            <if test="inputPerson!=null">input_person=#{inputPerson},</if>
            <if test="orderNumber!=null">order_number=#{orderNumber},</if>
            <if test="firstCustom!=null">first_custom=#{firstCustom},</if>
            <if test="secondCustom!=null">second_custom=#{secondCustom},</if>
            <if test="thirdCustom!=null">third_custom=#{thirdCustom},</if>
            <if test="fourthCustom!=null">fourth_custom=#{fourthCustom},</if>
            <if test="fifthCustom!=null">fifth_custom=#{fifthCustom},</if>
            <if test="seventhCustom!=null">seventh_custom=#{seventhCustom},</if>
            <if test="sixthCustom!=null">sixth_custom=#{sixthCustom},</if>
            <if test="eighthCustom!=null">eighth_custom=#{eighthCustom},</if>
            <if test="ninethCustom!=null">nineth_custom=#{ninethCustom},</if>
            <if test="tenthCustom!=null">tenth_custom=#{tenthCustom},</if>
            <if test="unit!=null">unit=#{unit}</if>
        </set>
        where input_materiel_id=#{inputMaterielId}
    </update>
    <delete id="deletInputMateriel">
        DELETE FROM
        inputmateriel
        WHERE
        input_materiel_id=
        #{inputMaterielId}
    </delete>
    <insert id="insertListInputMateriel" parameterType="com.imooc.oa.inputmateriel.entity.InputMateriel">
        insert into inputmateriel(product_name,manufacturer,serial_number,shelf_life, unit,product_price,quantity,
        material_receiving_warehouse,management_personne,materiel_code,remarks,general_category, small_class,encapsulation,
        input_materiel_coding_prefix,storage_data,coding_rules,seller,batch_number,pn,ds,temperature,materiel_description,
        rohs,materiel_state,total_amount,deliverer,input_person,order_number,first_custom,second_custom,third_custom,fourth_custom,
        fifth_custom,sixth_custom,seventh_custom,eighth_custom,ninth_custom,tenth_custom) values
        <foreach collection="list" index="index" item="item"
                 separator=",">
            (#{item.productName}, #{item.manufacturer},#{item.serialNumber},#{item.shelfLife},
            #{item.unit}, #{item.productPrice},#{item.quantity},#{item.materialReceivingWarehouse},
            #{item.managementPersonne},#{item.materielCode},#{item.remarks},#{item.generalCategory},
            #{item.smallClass},#{item.encapsulation},#{item.inputMaterielCodingPrefix},
            #{item.storageData},#{item.codingRules},#{item.seller},#{item.batchNumber},
            #{item.pn},#{item.ds},#{item.temperature},#{item.materielDescription},
            #{item.rohs},#{item.materielState},#{item.productPrice}*#{item.quantity},#{item.deliverer},
            #{item.inputPerson},#{item.orderNumber},#{item.firstCustom},#{item.secondCustom},
            #{item.thirdCustom},#{item.fourthCustom},#{item.fifthCustom} ,#{item.sixthCustom},
            #{item.seventhCustom},#{item.eighthCustom},#{item.ninthCustom},#{item.tenthCustom})
        </foreach>
    </insert>
</mapper>
